@import "style";

.teachingPathsList {
  display: flex;
  flex-direction: column;
  height: 100%;

  .cardList {
    display: flex;
    flex-wrap: wrap;    
    flex-flow: row wrap;
    width: auto;
    overflow: auto;
    height: 100%;
    margin-top: 10px;
    justify-content: start;
    padding-top: 5px;
    transition: 0.3s;
    .InfoCard {
      width: calc(16.68% - 15px);
      min-height: 300px;
      margin-bottom: 20px;
      margin-right: 14px;
      &:hover {
        box-shadow: 0 8px 10px #00000061;
      }
      .cardTitle {
        height: 44px;
      }

      .cardDescription {
        @include text-shrink-multiline(1);
        margin-top: 10px;
      }

      .grades {
        height: 25px;
      }
    }
  }
  .noResults.emptyTeachingPaths {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 300;
  }
  &.moveListBySearchFilter {
    transition: 0.3s;
    &.active {
      width: calc(100% - 290px);
      margin-left: 290px;
      .InfoCard {
        width: calc(20% - 15px);
      }
    }
  }
}




@media screen and (max-width: 1800px) {
  .teachingPathsList .cardList .InfoCard {
    width: calc(20% - 15px);
  }
  .teachingPathsList.moveListBySearchFilter.active .cardList .InfoCard {
    width: calc(25% - 15px);
  }
}
@media screen and (max-width: 1450px) {
  .teachingPathsList .cardList .InfoCard {
    width: calc(25% - 15px);
  }
  .teachingPathsList.moveListBySearchFilter.active .cardList .InfoCard {
    width: calc(33.33% - 15px);
  }
}
@media screen and (max-width: 1200px) {
  .teachingPathsList .cardList .InfoCard {
    width: calc(33.33% - 15px);
  }
  .teachingPathsList.moveListBySearchFilter.active .cardList .InfoCard {
    width: calc(50% - 15px);
  }
}
@media screen and (max-width: 575px) {
  .teachingPathsList {
    height: auto;
    .cardList {
      flex-flow: nowrap;
      width: calc(100% + 19px);
      .InfoCard {
        width: calc(100% - 50px);
        min-height: auto;
        flex: none;
        margin-right: 10px;
        margin-bottom: 5px;
        &:hover {
          box-shadow: none;
        }
      }
    }
  } 
  .teachingPathsList.moveListBySearchFilter.active .cardList .InfoCard {
    width: calc(100% - 50px);
  } 
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .teachingPathsList .cardList .InfoCard {
    width: calc(50% - 15px);
  }
  .teachingPathsList.moveListBySearchFilter.active .cardList .InfoCard {
    width: calc(50% - 15px);
  }
}