<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Logg inn med Feide for å se læringsstier og oppgaver i Skolerom." />
    <title>Skolerom.no — Innhold fra lærerrommet</title>
    <meta property="og:image" content="https://%APP_DOMAIN%/skolerom.jpg" />
    <meta property="og:locale" content="nb_NO" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Skolerom.no — Innhold fra lærerrommet" />
    <meta property="og:description" content="Logg inn med Feide for å se læringsstier og oppgaver i Skolerom." />
    <meta property="og:url" content="https://%APP_DOMAIN%/" />
    <meta property="og:site_name" content="%APP_DOMAIN%" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Skolerom.no — Innhold fra lærerrommet" />
    <meta name="twitter:description" content="Logg inn med Feide for å se læringsstier og oppgaver i Skolerom." />
    <meta name="twitter:image" content="https://%APP_DOMAIN%/skolerom.jpg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;500;600&family=Roboto+Slab:wght@100..900&display=swap">

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!--Needed for hiding browser-message before styles are loaded-->
    <style lang="text/css">.IEMessage_container { display: none; }</style>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-T822LPZ');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Matomo Tag Manager -->
    <script>
    var _mtm = window._mtm = window._mtm || [];
    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src='https://matomo.kf.no/js/container_13nsTLZb.js'; s.parentNode.insertBefore(g,s);
    </script>
    <!-- End Matomo Tag Manager -->
  </head>
  <body>
    <div id="root"></div>
    <div id="notifications" class="App__notifications ignore-react-onclickoutside"></div>

    <!-- For reload after dublicate tab. (Start of section) -->
    <label id="lockInputlabel" class="hidden" style="opacity:0;position: absolute; height: 0; width: 0; left: 0; top: 0; z-index: -1;">LockInput</label>
    <input id="lockInput" aria-labelledby="lockInputlabel" value="" style="opacity:0; overflow:hidden; position: absolute; height: 0; width: 0; left: 0; top: 0; z-index: -1;" />
    <script>
      window.addEventListener("load", function() {
        if (document.getElementById("lockInput").value === "") {
          document.getElementById("lockInput").value = "already loaded";
        } else {
          window.location.reload();
        }
        window.addEventListener("beforeunload", function() {
          document.getElementById("lockInput").value = "";
        });
      });
    </script>
    <!-- (End of ection) -->
    <div id="browser-message" class="IEMessage_container">
      <div class="IEMessage_window">
        <div class="IEMessage_header">
          <img src="../src/assets/images/warning.svg" alt="warning" />
            {{ browserMessage.title }}
        </div>

        <div class="IEMessage_body">
          {{#each browserMessage.messages}}
            <p class="IEMessage_body__part1">
              {{this}}
            </p>
          {{/each}}

          <div class="IEMessage_browsers">
            <a class="IEMessage_browser" href="https://www.opera.com/">
              <img src="../src/assets/images/opera.svg" alt="browser" />
              <div class="IEMessage_browser__name">Opera</div>
              <div class="IEMessage_browser__founder">Opera Software</div>
            </a>
            <a class="IEMessage_browser" href="https://www.mozilla.org/">
              <img src="../src/assets/images/firefox.svg" alt="browser" />
              <div class="IEMessage_browser__name">Firefox</div>
              <div class="IEMessage_browser__founder">Mozilla Foundation</div>
            </a>
            <a class="IEMessage_browser" href="https://www.microsoft.com/edge">
              <img src="../src/assets/images/edge.svg" alt="browser" />
              <div class="IEMessage_browser__name">Edge</div>
              <div class="IEMessage_browser__founder">Microsoft</div>
            </a>
            <a class="IEMessage_browser" href="https://www.google.com/chrome/">
              <img src="../src/assets/images/google-chrome.svg" alt="browser" />
              <div class="IEMessage_browser__name">Google Chrome</div>
              <div class="IEMessage_browser__founder">Google</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
