.main {
  position: absolute;
  min-width: 100%;

  .teachingPathItemsContainer {
    position: relative;
    min-width: 100%;
    min-height: fit-content;
    // overflow-x: auto;
    &.draggableclass {
      .InfoCard {
        border: dashed 3px #4baf50;
        cursor: move;
        button {
          pointer-events: none;
        }
      }
    }
    &.dragged {
      .topVerticalLine, .bottomVerticalLine, .bottomHorizontalLine, .teachingPathButtons {
        opacity: 0;
        display: none;
      }
    }
  
    &.rootContainer {
      padding-bottom: 50px;
      padding-top: 17px;

      &::before {
        content: none;
      }

      .boxNodeOptionsRoot {
        background: #fff;
        margin-bottom: 27px;
        padding: 23px 0px 0px 0px;
        z-index: 3;
        position: relative !important;
        &.imposibleDrop {
          border: dashed 3px #ff4545;
          background: #ffebeb;
          .teachingPathItemsTitle {
            background: transparent !important;
          }
          .numberAndActions button {
            background: transparent !important;
          }
        }
        &.posibleDrop {
          border: dashed 3px #4baf50;
        }
        .nestedOrderNumber {
          position: absolute;
          top: -15px !important;
        }
        &.bnoReadOnly {
          background:none;
        }
      }

      .boxNodeOptionsChildren {
        background: #fff;
        margin: 65px 0px 27px 0px;
        padding: 25px 0px 20px 0px;
        position: relative;
        z-index: 3;
        &.imposibleDrop {
          border: dashed 3px #ff4545;
          background: #ffebeb;
          .teachingPathItemsTitle {
            background: transparent !important;
          }
          .numberAndActions button {
            background: transparent !important;
          }
        }
        &.posibleDrop {
          border: dashed 3px #4baf50;
        }

        .nestedOrderNumber {
          position: absolute;
          top: -15px !important;
        }

        &.bnoReadOnly {
          background:none;
        }

      }

      .nodeChildrenReadOnly {
        background:transparent;

        textarea {
          visibility: hidden;
        }

        .topVerticalLine {
          height: 90px;
          top: -50px;
        }
      }

      .sectImgs {
        margin-top: -8px;
        display: flex;
        justify-content: center;

        &.sectImgsReadOnly {
          margin-top: -48px;
          background: transparent;
        }
      }

      

    }

    &::before {
      content: "";
      width: 100%;
      height: 2px;
      background: #D3D9DE;
      position: absolute;
      top: -65px;
    }

    &.first::before {
      width: 50%;
      transform: translateX(50%);
    }

    &.last::before {
      width: 50%;
      transform: translateX(-50%);
    }

    &.solo::before {
      width: 50%;
      // transform: translateX(0);
    }

    &.contentNone::before {
      content: none;
    }

    &.mergeLineBeforeButton::after {
      content: "";
      width: 50%;
      border-top: 2px dashed #D3D9DE;
      position: absolute;
      top: 402px;
      transform: translateX(50%);
    }

    &.mergeLineFullWidth::after {
      content: "";
      width: 100%;
      border-top: 2px dashed #D3D9DE;
      position: absolute;
      top: 402px;
      transform: translateX(0);
    }

    &.mergeLineAfterButton::after {
      content: "";
      width: 50%;
      border-top: 2px dashed #D3D9DE;
      position: absolute;
      top: 402px;
      transform: translateX(-50%);
    }
    .teachingPathItemsTitleDiv {
      position: relative;
      z-index: 2;
    }
    .teachingPathItemsTitle {
      margin: 0 0 17px 0;
      min-height: 34px;
      text-align: center;
      background-color: #ffffff;
      font-size: 1.4375rem;
      border: none;
      /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0724978); */
      border-radius: 4px;
      resize: none;
      outline: none;
      z-index: 2;
      padding: 2px 0;

      &::placeholder {
        font-weight: 300;
      }
    }

    .unmergeImg {
      margin-top: 15px;
      width: 40px;
      height: 40px;
      z-index: 2;
      cursor: pointer;
      background: url(../../../../assets/images/unmerge.svg);
      background-size: cover;

      &:hover {
        background: url(../../../../assets/images/unmerged-hovered.svg);
        background-size: cover;
      }
      &:focus {
        outline: black;
        outline-style: auto;
      }
    }

    .nestedOrderNumberContainer {
      position: relative;
      min-height: fit-content;
      z-index: 4;

      &.withoutUnmergeButton {
        margin-top: 55px;
      }

      .topVerticalLine {
        height: 55px;
        min-height: 55px;
        left: 49px;
        top: -22px;
        z-index: 1;
      }
    }

    .infoCardsContainer {
      flex-direction: row;
      position: relative;
      min-height: fit-content;

      .infoCardContainer {
        position: relative;

        &::before {
          width: 100%;
          content: "";
          height: 2px;
          background: #D3D9DE;
          position: absolute;
          top: -65px;
        }

        &.first::before {
          width: 50%;
          transform: translateX(100%);
        }

        &.last::before {
          width: 50%;
          transform: translateX(0);
        }

        &.solo::before {
          width: 0%;
        }
      }
    }

    .teachingPathItems {
      margin-top: 40px;
    }

    .teachingPathButtons {
      position: relative;
      margin-bottom: 20px;      

      &.withUnmergeButton {
        margin-top: 15px;
      }

      &.withPadding {
        margin-top: 70px;
      }

      &.withoutPadding {
        margin-top: 15px !important;
      }      
    }

    .InfoCard {
      margin: 0 20px;
    }

    .childrenContainer {
      position: relative;
      flex-direction: row;
      // z-index: 1;
    }

    .mergePanel {
      display: flex;

      .mergeTooltip {
        display: none;
        background: #596A75;
        padding: 8px 20px;
        position: absolute;
        top: 311px;
        color: white;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        z-index: 5;

        &.enLocale {
          left: -63px;
        }

        &.nbLocale {
          left: -88px;
        }

        &.nnLocale {
          left: -81px;
        }
      }

      .unmergeTooltip {
        @extend .mergeTooltip;

        &.enLocale {
          left: inherit;
          margin-left: -48px;
        }

        &.nbLocale {
          left: inherit;
          margin-left: -41px;
        }

        &.nnLocale {
          left: inherit;
          margin-left: -41px;
        }
      }

      .mergeButton {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 384px;
        left: -20px;
        cursor: pointer;
        z-index: 3;
        background: url(../../../../assets/images/merge.svg);
        background-size: cover;
        &:focus {
          outline: black;
          outline-style: auto;
        }
      }

      &:hover {
        .mergeButton {
          background: url(../../../../assets/images/merge-hovered.svg);
          background-size: cover;
        }

        .mergeTooltip {
          display: flex;

          &:after {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            left: 50%;
            bottom: -12px;
            transform: translate(-50%, -50%) rotate(45deg);
            background-color: #596A75;
          }
        }

        .unmergeTooltip {
          display: flex;

          &:after {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            left: 50%;
            bottom: -12px;
            transform: translate(-50%, -50%) rotate(45deg);
            background-color: #596A75;
          }
        }
      }
    }


  }

  .topVerticalLine {
    border-left: 2px solid #D3D9DE;
    height: 65px;
    min-height: 65px;
    position: absolute;
    top: -65px;
    z-index: 1;
  }

  .bottomVerticalLine {
    border-left: 2px solid #D3D9DE;
    height: 35px;
    position: absolute;
    bottom: -35px;
    z-index: 1;
  }

  .bottomHorizontalLine {
    border-bottom: 2px solid #D3D9DE;
    left: 160px;
    position: absolute;
    z-index: 1;
    bottom: -35px;
  }

  .exitButton {
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;

    .exitTeachingPath {
      padding: 20px;
      background: #E7ECEF;
      border-radius: 4px;

      span {
        margin-left: 10px;
        color: #E2017B;
      }
    }
  }
}
.dropInfoAddtional {
  position: absolute;
  width: calc(100% - 74px);
  bottom: 0;
  &.deletedrop {
    display: none;
  }
  &.insited {
    &:before {display: none}
  }
  &.posibleactive {
    .isPosibleDragInside {
      border: dashed 3px #4baf50;
    }
  }
  &.dropLeftArticle {
    &:before {
      content: '';
      position: absolute;
      width: calc(100% + 40px);
      height: 2px;
      background: #d3d9de;
      z-index: -1;
      top: 175px;
      left: calc(100% - 20px);
    }
  }
  &.dropLeftAssignments {
    &:before {
      content: '';
      position: absolute;
      width: calc(100% + 40px);
      height: 2px;
      background: #d3d9de;
      z-index: -1;
      top: 175px;
      left: calc(100% - 20px);
    }
  }
  &.dropRightArticle {
    &:before {
      content: '';
      position: absolute;
      width: calc(100% + 40px);
      height: 2px;
      background: #d3d9de;
      z-index: -1;
      top: 175px;
      right: calc(100% - 20px);
    }
  }
  &.dropRightAssignments {
    &:before {
      content: '';
      position: absolute;
      width: calc(100% + 40px);
      height: 2px;
      background: #d3d9de;
      z-index: -1;
      top: 175px;
      right: calc(100% - 20px);
    }
  }
  .isPosibleDragInside {
    width: 100%;
    text-align: center;
    border: dashed 2px black;
    height: 269px;
    padding: 20px;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
  }
}
.draggableclass .isPosibleDragInside {
  display: none;
}
.lastChildren {
  .dropInfoAddtional {
    margin-top: 20px;
    &:before { display: none; }
  }
}

.boxInformationDrop {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -3px;
  margin-top: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background-color: white;
  z-index: 4;
  border: dashed 3px green;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

