.TeachingPathDistributeList {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    width: auto;
    overflow: auto;
    height: 100%;
    margin-top: 10px;
    justify-content: start;
    padding-top: 5px;
    transition: 0.3s;
    .TeachingPathDistributeItemSkeleton {
        width: 280px;
        margin-right: 10px;
        height: 350px;
    }
    .TeachingPathDistributeItem {
        width: calc(16.68% - 15px);
        min-height: 300px;
        margin-bottom: 20px;
        margin-right: 14px;
        .InfoCard {
            width: 100%;
        }
    }
}