.AddingButtons {
  cursor: pointer;
  width: 248px;
  height: 186px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09487);
  border-radius: 5px;

  .addingButton {
    display: flex;
    height: 62px;
    align-items: center;
    background: transparent;
    button {
      padding: 0px;
      width: 100%;
      display: flex;
      height: 62px;
      align-items: center;
      background: transparent;
      font-size: 1.0625rem;
      padding: 10px 20px;
      &:focus {
        outline: solid;
        outline-style: auto;
      }
    }
    img {
      margin-right: 20px;
      width: 38px;
      height: 38px;
    }

    &:first-child {
      border-radius: 5px 5px 0 0;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
    }

    &:hover {
      background: #939FA7;
      color: #ffffff;
      button {
        color: #ffffff;
      }
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}
