.contentListSearch {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .Inside {
        margin-bottom: 20px;
        .cardInfoItem {
            .triangleCard {
                width: 100%;
                position: relative;
                &:before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 15px 0;
                    border-color: #737474 transparent transparent;
                    position: absolute;
                    left: 50%;
                    margin-left: -12px;
                }
                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 15px 0;
                    border-color: white transparent transparent;
                    position: absolute;
                    left: 50%;
                    margin-left: -12px;
                    top: -1px;
                }
            }
            &__card {
                cursor: pointer;
                background: white;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.100661);
                min-height: 332px;
                &.active {
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        pointer-events: none;
                        width: calc(100% - 1px);
                        height: calc(100% - 2px);
                        background: transparent;
                        border: 1px solid #737474;
                        border-radius: 6px;
                        left: 0px;
                        top: 0px;
                    }
                }
            }
            &__detail {
                overflow: hidden;
                pointer-events: all;
                z-index: 3;
                height: 0px;
                transition: 0.8s;
                &.active {
                    height: 590px;
                    margin-top: 20px;
                }
                .cardTemplateArticle {
                    width: calc(100% - 20px);
                    background: white;
                    position: absolute;
                    left: 0;
                    border: 1px solid #737474;
                    overflow: hidden;
                    border-radius: 5px;
                    &__header {
                        padding: 20px;
                        &__top {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                            margin-bottom: 20px;
                            .description {
                                max-width: 650px;
                                font-weight: 300;
                                font-size: 18px;
                                line-height: 24px;
                            }
                            .close {
                                border: solid 1px black;
                                border-radius: 50%;
                                cursor: pointer;
                            }
                        }
                        &__bottom {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .links {
                                ul {
                                    display: flex;
                                    a {
                                        display: flex;
                                        align-items: center;
                                        margin-right: 10px;
                                        background: #E2017B;
                                    }
                                }
                            }
                            .relateds {
                                h3 {
                                    margin-top: 0px;
                                    margin-bottom: 10px;
                                    font-weight: 300;
                                }
                                ul {
                                    display: flex;
                                    li {
                                        margin-right: 15px;
                                        a {
                                            font-size: 18px;
                                            font-weight: 700;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &__body {
                        background: #e6e9ed;
                        padding: 20px;
                        box-sizing: border-box;
                        height: 400px;
                        overflow-y: scroll;
                        &__top {
                            display: flex;
                        }
                        &__item {
                            flex: 1;
                            margin-bottom: 20px;
                            h2 {
                                margin: 0px;
                                display: flex;
                                align-items: center;
                                font-size: 18px;
                                font-weight: 500;
                                margin-bottom: 15px;
                                img {
                                    width: 22px;
                                    margin-right: 10px;
                                }
                            }
                            .list {
                                ul {
                                    display: flex;
                                    li {
                                        background: #d3d9de;
                                        font-size: 14px;
                                        margin-right: 5px;
                                        margin-bottom: 5px;
                                        padding: 3px 6px;
                                        border-radius: 5px;
                                        color: #0a003d;
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
                        &__goals {
                            ul {
                                .goalData {
                                    display: flex;
                                    font-size: 16px;
                                    border-bottom: 1px solid rgba(0,0,0,.0901960784);
                                    padding: 10px 0;
                                    color: #0a003d;
                                    font-weight: 300;
                                    &__grade {
                                        margin-right: 20px;
                                        min-width: 110px;
                                        text-decoration: none;
                                    }
                                    &__subject {
                                        margin-right: 20px;
                                        min-width: 150px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__imagen {
                img {
                    width: 100%;
                    height: auto;
                    min-height: 180px;
                    object-fit: cover;
                }
            }
            &__description {
                padding: 10px;
                .title {
                    h2 {
                        margin: 0px;
                        font-size: 18px;
                        margin-bottom: 10px;
                        line-height: 22px;
                    }
                }
                .description {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;                
                }
            }
            &__left {
                display: flex;
                align-items: center;
                img {
                    height: 60px;
                    margin-right: 10px;
                    width: 90px;
                    object-fit: cover;
                }
                h2 {
                    font-size: 17px;
                    font-weight: 400;
                }
            }
            &__right {
                display: flex;
                align-items: center;
                .subjectItems {
                    display: flex;
                    align-items: center;
                    .subjectItem {
                        font-size: 0.9375rem;
                        padding: 7px 18px 8px 21px;
                        background: #E7ECEF;
                        border: 1px solid #D3D9DE;
                        border-radius: 17px;
                        margin-right: 10px;
                    }
                }
            }
            &__tooltip {
                position: absolute;
                box-shadow: 0 2px 2px rgba(255, 255, 255, 0.129753);
                border-radius: 4px;
                border: 1px solid #939fa7;
                padding: 13px 20px 13px 20px;
                cursor: default;
                background: #FFF;
                z-index: 20;
                top: 42px;
                right: 2px;
                min-width: 185px;
                &:before {
                    content: '';
                    border-top: 1px solid #939fa7;
                    border-right: 1px solid #939fa7;
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    background: white;
                    transform: rotate(-45deg);
                    top: -8px;
                    right: 11px;
                }
                li {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
            &.cardInfoItem--relative {
                position: relative;
            }
            .cardInfoItem--horizontal {
                min-height: 60px;
                height: 60px;
                display: flex;
                justify-content: space-between;
                position: relative;
                overflow: inherit;
                cursor: pointer;
                background: white;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.100661); 
                padding-right: 45px;
            }
            .cardInfoItem--absolute {
                position: absolute;
                top: 15px;
                right: 5px;
                .more-show {
                    button {
                        background: transparent;
                    }
                }
            }
        }
        &.Inside--horizontal {
            width: 100%;
            margin-right: 0px;
            min-height: 60px;
            height: 60px;
        }
    }
}
@media screen and (max-width: 2350px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 7 - 20px);
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 2150px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 6 - 20px);
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 2000px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 6 - 20px);
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 1800px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 5 - 20px);
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 1500px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 4 - 20px);
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 1250px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 3 - 20px);
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 1000px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 3 - 20px);
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 750px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 2 - 20px);
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 2 - 20px);
            margin-right: 20px;
        }
    }
}


@media screen and (max-width: 500px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 2 - 20px);
            margin-right: 20px;
        }
    }
}
