.contentListSearch {
    display: flex;
    flex-wrap: wrap;
    .Inside {
        margin-bottom: 20px;
        .cardInfoItem {
            background: white;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.100661);
            min-height: 332px;
            &__imagen {
                img {
                    width: 100%;
                    height: auto;
                    min-height: 180px;
                    object-fit: cover;
                }
            }
            &__description {
                padding: 10px;
                .title {
                    h2 {
                        margin: 0px;
                        font-size: 18px;
                        margin-bottom: 10px;
                        line-height: 22px;
                    }
                }
                .description {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;                
                }
            }
            &__left {
                display: flex;
                align-items: center;
                img {
                    height: 60px;
                    margin-right: 10px;
                    width: 90px;
                    object-fit: cover;
                }
                h2 {
                    font-size: 17px;
                    font-weight: 400;
                }
            }
            &__right {
                display: flex;
                align-items: center;
                .subjectItems {
                    display: flex;
                    align-items: center;
                    .subjectItem {
                        font-size: 0.9375rem;
                        padding: 7px 18px 8px 21px;
                        background: #E7ECEF;
                        border: 1px solid #D3D9DE;
                        border-radius: 17px;
                        margin-right: 10px;
                    }
                }
                .more-show {
                    margin-right: 10px;
                    button {
                        background: transparent;
                    }
                }
            }
            &.cardInfoItem--horizontal {
                min-height: 60px;
                height: 60px;
                display: flex;
                justify-content: space-between;
            }
        }
        &.Inside--horizontal {
            width: 100%;
            margin-right: 0px;
            min-height: 60px;
            height: 60px;
        }
    }
}
@media screen and (max-width: 2350px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 7 - 20px);
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 2150px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 6 - 20px);
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 2000px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 6 - 20px);
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 1800px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 5 - 20px);
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 1500px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 4 - 20px);
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 1250px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 3 - 20px);
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 1000px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 3 - 20px);
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 750px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 2 - 20px);
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 2 - 20px);
            margin-right: 20px;
        }
    }
}


@media screen and (max-width: 500px) {
    .contentListSearch {
        .Inside {
            width: calc(100% / 2 - 20px);
            margin-right: 20px;
        }
    }
}
