.Notification {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #0A7B24;
  padding: 0 20px;
  color: #fff;
  height: 80px;
  z-index: 2;
  font-size: 22px;

  img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
